/* html, body{
    position: fixed;
    top:0 ;
    bottom:0;
    left:0;
    right:0;
} */
.name{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:50px;
   color:darkblue;
   background-color: aqua;
   top:10px;
   width:260px;
   position: relative;
   left:550px;
}
.start{
    font-size: x-large;
    position: relative;
    left:580px;
    top:-200px;
    cursor: pointer;
}
.words{
    position: relative;
    font-size: x-large;
    left: 610px;
}
* {
    margin: 0;
    padding: 0;
    }
     
    body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
    }
     
    #container {
    margin: 100px auto;
    width: 500px;
    }
     
    #keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    }
     
        #keyboard li {
        float: left;
        margin: 0 5px 5px 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;    
        }
             #keyboard .space {
            position: relative;
            left:100px;
            clear: left;
            width: 300px;
            background-color: darkgray;
            }  
               #keyboard li:hover {
                   background-color:white;
            border-color:blueviolet;
            cursor: pointer;
            }
 .stick {
  height: 360px;
  width: 18px;
  display: inline-block;
  position: relative;
  bottom: 250px;
  top:30px;
  left:80px;
  border-radius: 5%;
  background-color: rgb(66, 64, 64);
 }
 .branch{
     height:19px;
     width:271px;
    display: inline-block;
    position: relative;
    top:-290px;
    left:60px;
    border-radius: 5%;
    background-color: rgb(66, 64, 64);
 }
 .root{
    height:19px;
    width:160px;
   display: inline-block;
   position: relative;
   top:40px;
   right:285px;
   border-radius: 5%;
   background-color: rgb(66, 64, 64);
}
.smallstick{
    height:80px;
    width:13px;
   display: inline-block;
   position: relative;
   top:-210px;
   right:150px;
   border-radius: 5%;
   background-color: rgb(66, 64, 64);
}
.head {
    width: 60px;
    height: 60px;
    position: relative;
    right:-285px;
    top:-216px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
  }
  .bodystick{
    height:80px;
    width:6px;
   display: inline-block;
   position: relative;
  bottom:220px;
left:315px;
   border-radius: 5%;
   background-color: rgb(66, 64, 64);
  }